.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.picContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.picContent > video {
    background-color: black;
    height: 480px;
    width: 640px;
    margin-right: 10px;
}

.container > button {
    height: 30px;
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}
